body {
    background-image: url("sweden.jpg");
    background-size: cover;
    font-family: -apple-system, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-weight: bold;
    text-align: center;
}

h1 {
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}

h2 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 20px;
    color: white;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 40px;
    border-radius: 5px;
}

p{
    font-size: 20px;
    font-weight: bold;
    color: navy;   
}

#increment-btn {
    background: navy;
}

#save-btn {
    background: darkred;
}

